/* Jumbotron */
.carousel-fullsize {
    height: 90vh;
    width: 100%;
    object-position: center;
    object-fit: cover;
}


/* Footer */
.logo-wrapper {
    width: 60%;
}

.logo-wrapper img {
    width: 100%;
}

.keterangan-wrapper a {
    text-decoration: none;
}

.sosmed {
	margin: 10px 0;
}

.sosmed .bi {
    font-size: 2vw;
}