@media(max-width: 768px) {

    /* Jumbotron */
    .carousel-fullsize {
        height: 80vh;
    }

    /* Layanan Kami */
    .wrapper-layanan {
        width: 60%;
        margin: 40px 0px;
    }

    /* Ulasan */
    .wrapper-ulasan {
        width: 60%;
        margin: 20px 0;
    }
}

@media(max-width: 576px) {

    /* Jumbotron */
    .carousel-fullsize {
        height: 75vh;
    }

    /* Layanan Kami */
    .wrapper-layanan {
        width: 80%;
        margin: 40px 0px;
    }

    /* Ulasan */
    .wrapper-ulasan {
        width: 80%;
        margin: 20px 0;
    }
}