* {
    box-sizing: border-box;
}

/* Jumbotron */
.carousel-fullsize {
    height: 90vh;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

/* Ulasan */
.filter {
    filter: brightness(40%) saturate(20%);
}

.wrapper-ulasan {
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(145deg, #e6c4ae, #c2a593);
    box-shadow: 5px 5px 10px #b79c8b,
        -5px -5px 10px #f7d2bb;
    margin: 20px;
    padding: 40px;
}


/* Footer */
.logo-wrapper {
    width: 60%;
}

.logo-wrapper img {
    width: 100%;
}

.keterangan-wrapper a {
    text-decoration: none;
}

.sosmed {
    margin: 10px 0;
}

.sosmed .bi {
    font-size: 2vw;
}