@media(max-width: 768px) {

    /* Jumbotron */
    .carousel-fullsize {
        height: 80vh;
    }

    /* Ulasan */
    .wrapper-ulasan {
        margin: 20px 0;
    }

    /* Footer */
    .logo-wrapper {
        width: 50%;
    }

    .sosmed {
        margin: 20px 0;
    }

    .sosmed .bi {
        font-size: 3rem;
    }

    .keterangan-wrapper p {
        font-size: 1.5rem;
    }

    .copyright {
        font-size: 1.5rem;
    }
}

@media(max-width: 576px) {

    /* Jumbotron */
    .carousel-fullsize {
        height: 75vh;
    }

    /* Ulasan */
    .wrapper-ulasan {
        width: 80%;
        margin: 20px 0;
    }


    /* Footer */
    .logo-wrapper {
        width: 80%;
    }

    .sosmed .bi {
        font-size: 2rem;
    }

    .keterangan-wrapper p {
        font-size: 1rem;
    }

    .copyright {
        font-size: 1rem;
    }
}