body {
    background-color: #D7B7A3;
}


.garaki {
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #432D27;
}

.contactus {
    color: #985E49;
    font-style: italic;
    margin-left: 20px;
    font-size: 30px;
}

.container {
    background-color: #EAE7E7;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container2 {
    background-color: #985E49;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.jam {
    text-align: center;
}