body {
    background-color: #D7B7A3;
}

#box {
    background-color: #EAE7E7;
    width: 90%;
    padding: 50px;
    border-radius: 20px;
    margin-left: 60px;
}

.garaki {
    font-size: 40px;
    font-style: bold;
    color: #432D27;
}

.imgcontactus {
    float: right;
    margin-top: -100px;
}

.contactus {
    color: #985E49;
    padding-top: 70px;
    font-style: italic;
    font-size: 50px;
}

#box2 {
    background-color: #985E49;
    width: 90%;
    padding: 50px;
    border-radius: 20px;
    margin-left: 60px;
}