/* #banner-kopi {
    width: 100%;
    height: 90vh;
    background-image: url("../img/banner-kopi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
}

#banner-kopi img {
    width: 100%;
    height: 90vh;
    position: absolute;
}

#banner-kopi h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fff;
} */

.jumbo-image {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    filter: brightness(50%) saturate(50%);
}

.jumbo-text {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.jumbo-text h1 {
    font-size: 56px;
    font-weight: 700;
    color: #F86400;
}

.minuman-imgwrapper {
    width: 100%;
}

.minuman-imgwrapper img {
    width: 100%;
}

.modal-body .minuman-imgwrapper {
    width: 50%;
    margin: 0 auto;
}

.wrapper-svg {
    width: 40px;
}

.child-svg {
    width: 100%;
}

.detail-menu {
    width: 70%;
}