.minuman-imgwrapper {
    width: 100%;
}

.minuman-imgwrapper img {
    width: 100%;
}

.modal-body .minuman-imgwrapper {
    width: 50%;
    margin: 0 auto;
}

.wrapper-svg {
    width: 40px;
}

.child-svg {
    width: 100%;
}

.detail-menu {
    width: 70%;
}