/* Jumbotron */
.container-titleproduk {
  height: 90vh;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

/* Menu */

.wrapper-imgproduk {
  width: 100%;
}

.wrapper-imgproduk img {
  width: 100%;
}

.container-ulasanwrapper {
  background-color: #fff;
}

.wrapper-layanan {
  width: 25%;
  margin: 20px 40px;
}

.layanan-imgwrapper {
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(145deg, #d3d0d0, #faf7f7);
  box-shadow: 6px 6px 20px #8c8b8b,
    -6px -6px 20px #ffffff;
  /* width: 200px; */
}

.layanan-imgwrapper img {
  width: 100%;
  object-fit: cover;
}

.layanan-imgwrapper p {
  position: absolute;
  padding: 1rem;
  opacity: 0;
  color: #432D27;
}

.layanan-imgwrapper button {
  margin: 3px;
}

.layanan-imgwrapper p:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.minuman-imgwrapper {
  width: 50%;
  margin: 0 auto;
}

.minuman-imgwrapper img {
  width: 100%;
}

.wrapper-svg {
  width: 40px;
}

.child-svg {
  width: 100%;
}

.detail-menu {
  width: 70%;
}

.container-penutup {
  background-color: #D7B7A3;
}

/* Footer */
.logo-wrapper {
  width: 60%;
}

.logo-wrapper img {
  width: 100%;
}

.keterangan-wrapper a {
  text-decoration: none;
}

.sosmed {
  margin: 10px 0;
}

.sosmed .bi {
  font-size: 2vw;
}