/* body {
    background-color: #C4C4C4;
} */

/* .container-fluid1 {
    background-color: #D7B7A3;
} */

.Sejarah {
    text-align: left;
    /* font-size: 40px; */
    color: black;
}

.wrapper-imgsejarah {
    width: 100%;
}

.wrapper-imgsejarah img {
    width: 100%;
}

.isisejarah {
    text-align: justify;
    /* font-size: 20px; */
}

.founder {
    text-align: center;
    /* font-size: 20px; */
    color: black;
}

.isifounder {
    text-align: center;
}

.jam {
    text-align: center;
}

/* .container-fluid3 {
    background-image: url("../img/bgopen.png");
    background-color: blanchedalmond;
} */

/* ---------- */

.Sejarah {
    margin: auto;
    text-align: center;
    /* padding-top: 50px; */
}

.Founder {
    margin: auto;
    text-align: center;
}

.img-founder {
    width: 100%;
}

.img-founder img {
    width: 100%;
}

/* .card {
    margin-left: 10px;
    flex-basis: 32%;
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
} */

/* .sejarah-col img {
    width: 100%;

} */

/* .card-body {
    text-align: center;
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */

.card-body:hover {
    background: rgba(119, 119, 119, 0.7);
}

.card-text {
    text-align: center;
}

/* .card-body h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
} */