body {
    background-color: #C4C4C4;
}

.container-fluid1 {
    background-color: #D7B7A3;
}

.Sejarah {
    text-align: center;
    font-size: 20px;
    color: black;
}

.wrapper-imgsejarah {
    width: 100%;
}

.wrapper-imgsejarah img {
    width: 100%;
}

.isisejarah {
    text-align: center;
}

.wrapper-imgfounder {
    margin-left: 20px;
}

.founder {
    text-align: center;
    font-size: 20px;
    color: black;
}

.isifounder {
    text-align: center;
}

.container-fluid2 {
    background-color: #EAE7E7;
}

.container-fluid3 {
    /* background-image: url("../img/bgopen.png"); */
    background-color: blanchedalmond;
}